<div class="container">
  <mat-tab-group
    mat-align-tabs="start"
    animationDuration="100ms"
    mat-stretch-tabs
    class="example-stretched-tabs mat-elevation-z4"
  >
    <mat-tab label="First"
      ><p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, animi?
        Alias quae nam possimus porro. Nihil nemo pariatur, architecto quia
        officia adipisci culpa quidem sequi obcaecati blanditiis sunt maxime.
        Error deserunt ad, autem ex id aliquam ipsa praesentium voluptatem
        delectus est labore nisi, dolorum at veritatis saepe architecto. Quo,
        saepe modi expedita distinctio reprehenderit voluptatem tenetur
        praesentium, odit voluptatibus amet nobis facere neque. Vero aspernatur
        aliquam commodi corporis totam alias laudantium adipisci?
      </p>
    </mat-tab>
    <mat-tab label="Second">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">thumb_up</mat-icon>
        First </ng-template
      >Content 2</mat-tab
    >
    <mat-tab label="Third"
      ><div class="example-large-box mat-elevation-z4">
        Large content
      </div></mat-tab
    >
  </mat-tab-group>
</div>
