<!-- <aside class="left-sidebar">
  <ul
    id="slide-out"
    class="sidenav ps ps--theme_default ps--active-y active"
    data-sidebarbg="skin5"
    data-ps-id="6f9c358c-90bc-e151-4a9a-2a855c11f91d"
  >
    <li style="display: block">
      <ul class="collapsible collapsiblebox">
        <li class="small-cap"><span class="hide-menu">PERSONAL</span></li>
        <li class="">
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">dashboard</i
            ><span class="hide-menu"> Dashboard</span></a
          >
          <div class="collapsible-body" style="">
            <ul>
              <li class="active">
                <a href="index.html" class="active"
                  ><i class="material-icons">adjust</i
                  ><span class="hide-menu">Dashboard-1</span></a
                >
              </li>
              <li>
                <a href="index2.html"
                  ><i class="material-icons">adjust</i
                  ><span class="hide-menu">Dashboard-2</span></a
                >
              </li>
              <li>
                <a href="index3.html"
                  ><i class="material-icons">adjust</i
                  ><span class="hide-menu">Dashboard-3</span></a
                >
              </li>
              <li>
                <a href="index4.html"
                  ><i class="material-icons">adjust</i
                  ><span class="hide-menu">Dashboard-4</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">equalizer</i
            ><span class="hide-menu"> Sidebar Types </span></a
          >
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="sidebar-type-minisidebar.html"
                  ><i class="material-icons">photo_size_select_small</i
                  ><span class="hide-menu">Minisidebar</span></a
                >
              </li>
              <li>
                <a href="sidebar-type-iconbar.html"
                  ><i class="material-icons">picture_in_picture</i
                  ><span class="hide-menu">Icon Sidebar</span></a
                >
              </li>
              <li>
                <a href="sidebar-type-overlay.html"
                  ><i class="material-icons">low_priority</i
                  ><span class="hide-menu">Overlay Sidebar</span></a
                >
              </li>
              <li>
                <a href="sidebar-type-fullsidebar.html"
                  ><i class="material-icons">present_to_all</i
                  ><span class="hide-menu">Full Sidebar</span></a
                >
              </li>
              <li>
                <a href="sidebar-type-horizontalsidebar.html"
                  ><i class="material-icons">power_input</i
                  ><span class="hide-menu">Horizontal Sidebar</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">library_books</i
            ><span class="hide-menu"> Page Layouts </span></a
          >
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="layout-inner-fixed-left-sidebar.html"
                  ><i class="material-icons">format_align_left</i
                  ><span class="hide-menu">Inner Fixed Left Sidebar</span></a
                >
              </li>
              <li>
                <a href="layout-inner-fixed-right-sidebar.html"
                  ><i class="material-icons">format_align_right</i
                  ><span class="hide-menu">Inner Fixed Right Sidebar</span></a
                >
              </li>
              <li>
                <a href="layout-inner-left-sidebar.html"
                  ><i class="material-icons">format_indent_increase</i
                  ><span class="hide-menu">Inner Left Sidebar</span></a
                >
              </li>
              <li>
                <a href="layout-inner-right-sidebar.html"
                  ><i class="material-icons">format_indent_decrease</i
                  ><span class="hide-menu">Inner Right Sidebar</span></a
                >
              </li>
              <li>
                <a href="page-layout-fixed-header.html"
                  ><i class="material-icons">line_weight</i
                  ><span class="hide-menu">Fixed Header</span></a
                >
              </li>
              <li>
                <a href="page-layout-fixed-sidebar.html"
                  ><i class="material-icons">line_weight</i
                  ><span class="hide-menu">Fixed Sidebar</span></a
                >
              </li>
              <li>
                <a href="page-layout-fixed-header-sidebar.html"
                  ><i class="material-icons">format_align_center</i
                  ><span class="hide-menu">Fixed Header &amp; Sidebar</span></a
                >
              </li>
              <li>
                <a href="page-layout-boxed-layout.html"
                  ><i class="material-icons">format_line_spacing</i
                  ><span class="hide-menu">Boxed Layout</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="small-cap"><span class="hide-menu">Apps</span></li>
        <li class="">
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">move_to_inbox</i
            ><span class="hide-menu"> Inbox</span></a
          >
          <div class="collapsible-body" style="">
            <ul>
              <li>
                <a href="inbox-email.html"
                  ><i class="material-icons">email</i
                  ><span class="hide-menu">Email</span></a
                >
              </li>
              <li>
                <a href="inbox-email-detail.html"
                  ><i class="material-icons">markunread_mailbox</i
                  ><span class="hide-menu">Email Detail</span></a
                >
              </li>
              <li>
                <a href="inbox-compose.html"
                  ><i class="material-icons">contact_mail</i
                  ><span class="hide-menu">Email Compose</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">bookmark_border</i
            ><span class="hide-menu"> Ticket</span></a
          >
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="ticket-list.html"
                  ><i class="material-icons">collections_bookmark</i
                  ><span class="hide-menu">Ticket List</span></a
                >
              </li>
              <li>
                <a href="ticket-detail.html"
                  ><i class="material-icons">bookmark</i
                  ><span class="hide-menu">Ticket Detail</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a
            href="javascript: void(0);"
            class="collapsible-header has-arrow"
            tabindex="0"
            ><i class="material-icons">donut_small</i
            ><span class="hide-menu"> Extra</span></a
          >
          <div class="collapsible-body">
            <ul>
              <li>
                <a href="app-chats.html"
                  ><i class="material-icons">chat</i
                  ><span class="hide-menu">Chat Apps</span></a
                >
              </li>
              <li>
                <a href="app-taskboard.html"
                  ><i class="material-icons">dvr</i
                  ><span class="hide-menu">Taskboard</span></a
                >
              </li>
              <li>
                <a href="app-contact.html"
                  ><i class="material-icons">dialer_sip</i
                  ><span class="hide-menu">Contact</span></a
                >
              </li>
              <li>
                <a href="app-contact2.html"
                  ><i class="material-icons">contacts</i
                  ><span class="hide-menu">Contact Grid</span></a
                >
              </li>
              <li>
                <a href="app-contact-detail.html"
                  ><i class="material-icons">contact_phone</i
                  ><span class="hide-menu">Contact Detail</span></a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="app-calendar.html" class="collapsible-header" tabindex="0"
            ><i class="material-icons">perm_contact_calendar</i
            ><span class="hide-menu"> Calendar </span></a
          >
          <div class="collapsible-body">
            <ul></ul>
          </div>
        </li>
      </ul>
      <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px">
        <div
          class="ps__scrollbar-x"
          tabindex="0"
          style="left: 0px; width: 0px"
        ></div>
      </div>
      <div
        class="ps__scrollbar-y-rail"
        style="top: 0px; height: 969px; right: 0px"
      >
        <div
          class="ps__scrollbar-y"
          tabindex="0"
          style="top: 0px; height: 381px"
        ></div>
      </div>
    </li>
  </ul>
</aside> -->
<!-- <div class="menu-heading" style="float: left">Menu heading</div> -->
<mat-nav-list>
  <mat-list-item
    (click)="showSubmenu = !showSubmenu"
    class="parent"
    routerLinkActive="active-list-item"
  >
    <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
    <mat-icon mat-list-icon>home</mat-icon>
    <mat-icon
      class="menu-button"
      [ngClass]="{ rotated: showSubmenu }"
      *ngIf="isExpanded || isShowing"
      >expand_more</mat-icon
    >
  </mat-list-item>
  <div
    class="submenu"
    [ngClass]="{ expanded: showSubmenu }"
    *ngIf="isShowing || isExpanded"
  >
    <a mat-list-item href="...">Submenu Item 1</a>
    <a mat-list-item href="...">Submenu Item 2</a>
    <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
      <span class="full-width" *ngIf="isExpanded || isShowing"
        >Nested Menu</span
      >
      <mat-icon
        class="menu-button"
        [ngClass]="{ rotated: showSubSubMenu }"
        *ngIf="isExpanded || isShowing"
        >expand_more</mat-icon
      >
    </mat-list-item>
    <div
      class="submenu"
      [ngClass]="{ expanded: showSubSubMenu }"
      *ngIf="isShowing || isExpanded"
    >
      <mat-list-item>SubSubmenu Item 1</mat-list-item>
      <mat-list-item>SubSubmenu Item 2</mat-list-item>
    </div>
  </div>
</mat-nav-list>

<span>Hii</span>
