<!-- <mat-toolbar class="footer footer-padding" mat-elevation-z8>
  <div class="container">
    <div class="footer-text">© 2021 ‧ CompanyName ‧ All Rights Reserved</div>
    <div fxFlex class="footer-text">
      <ul id="footer-menu" class="nav-menu styled clearfix inline-inside">
        <li
          id="menu-item-26"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26"
        >
          <a href="https://bumm.buzz/p/4-bumm-buzz-forum-sartlar-ve-kurallar"
            >Şartlar</a
          >
        </li>
        <li
          id="menu-item-27"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27"
        >
          <a href="https://bumm.buzz/p/6-gizlilik-ve-topladigimiz-bilgiler"
            >Gizlilik</a
          >
        </li>
        <li
          id="menu-item-28"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28"
        >
          <a href="https://bumm.buzz/p/5-cerezler-ve-reklam-ayarlari"
            >Çerezler</a
          >
        </li>
        <li
          id="menu-item-29"
          class="menu-item menu-item-type-custom menu-item-object-custom menu-item-29"
        >
          <a href="https://bumm.buzz/sitemap.xml" rel="dofollow">Sitemap</a>
        </li>
      </ul>
    </div>
    <div class="footer-text">© 2021 ‧ CompanyName ‧ All Rights Reserved</div>
  </div>
</mat-toolbar> -->
<footer class="footer bottom-fixed footer-padding mat-elevation-z8">
  <!-- <mat-toolbar
    class="footer footer-padding mat-elevation-z8"
    fxLayout="row"
    fxLayoutAlign="start center"
  > -->
  <p>© 2021 ‧ BrainMine ‧ All Rights Reserved</p>

  <!-- </mat-toolbar> -->
</footer>
